#header {
    background: #1e2933;
    font-weight: 400;
    height: 36px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}
#header #branding h1, #header #branding h1 a:link, #header #branding h1 a:visited {
    font-weight: 400;
    color: #ffffff;
}
#header #user-tools {
    border-bottom: none;
    font-size: 16px;
}
#header #user-tools a:focus, #header #user-tools a:hover {
    color: #ffffff;
}
